Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cacheInterop, cacheIORedis, cacheRedis, e2e

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default: off
      cacheInterop:
        target: 1%
        flags:
          - cacheInterop
      cacheIORedis:
        target: 1%
        flags:
          - cacheIORedis
      cacheRedis:
        target: 1%
        flags:
          - cacheRedis
flags:
  cacheInterop:
    paths:
      - packages/cache-interop
  cacheIORedis:
    paths:
      - packages/cache-ioredis
  cacheRedis:
    paths:
      - packages/cache-redis
  e2e:
    paths:
      - packages/cache-e2e-tests

ignore:
  - "scripts/**/*"
  - "docs/**/*"
  - "scripts/**/*"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

chore(lock): deduplicate
  yarn.lock
Due: none

docs(badge): add codefactor
  README.md
Due: none

docs(badge): add codefactor
  packages/cache-interop/README.md
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: cacheInterop, cacheIORedis, cacheRedis

chore(dev-deps): microbundle updated to 0.13
  package.json
  yarn.lock
Due: none

tests: refactor jest setup
  packages/cache-e2e-tests/config/docker-container.config.ts
  packages/cache-e2e-tests/config/jest.setup.ts
  packages/cache-e2e-tests/jest.config.js
  packages/cache-e2e-tests/jest.setup.js
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

docs: add install notes
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: cacheIORedis, cacheRedis

fix: invalid peerDependencies
  packages/cache-redis/package.json
  yarn.lock
Due: cacheRedis

fix: invalid peerDependencies
  .changeset/strange-parrots-add.md
Due: none

docs: added badges for code climate
  README.md
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: cacheIORedis, cacheRedis

chore(dev-deps): upgrade testcontainers
  package.json
Due: none

docs(readme): mention install of adapter types
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: cacheIORedis, cacheRedis

chore: improve monorepo repository info
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

chore(lock): updated lock file
  yarn.lock
Due: none

feat: new package for parsing dsn
  packages/cache-dsn-parser/.eslintignore
  packages/cache-dsn-parser/.gitignore
  packages/cache-dsn-parser/CHANGELOG.md
  packages/cache-dsn-parser/LICENSE
  packages/cache-dsn-parser/README.md
  packages/cache-dsn-parser/jest.config.js
  packages/cache-dsn-parser/package.json
  packages/cache-dsn-parser/src/__tests__/cache-dsn-parser.test.ts
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
  packages/cache-dsn-parser/src/index.ts
  packages/cache-dsn-parser/tsconfig.build.json
  packages/cache-dsn-parser/tsconfig.jest.json
  packages/cache-dsn-parser/tsconfig.json
  tsconfig.json
Due: none

feat: new package for parsing dsn
  .changeset/red-tables-deny.md
Due: none

feat: use native Object.entries foreach
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
Due: none

chore(codecov): fix setup of new package
  .codecov.yml
Due: none

docs: changelog update
  CONTRIBUTING.md
Due: none

chore(lock): updated latest
  yarn.lock
Due: none

chore: add monorepo licence field in package.json
  package.json
Due: none

docs: added new package
  README.md
Due: none

docs: add coverage flag for dsn-parser
  packages/cache-dsn-parser/README.md
Due: none

docs: add missing badges
  packages/cache-interop/README.md
Due: cacheInterop

fix: promisify redis quit
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

tests: fix closing connections
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix: remove console
  packages/cache-e2e-tests/config/docker-container.config.ts
Due: e2e

fix: user printf in bash
  scripts/check-git-pristine-yarn-lock.sh
Due: none

docs: badges fixed
  packages/cache-dsn-parser/README.md
Due: none

docs: updated usage and support for query params
  packages/cache-dsn-parser/README.md
Due: none

chore(deps): added query-string
  packages/cache-dsn-parser/package.json
  yarn.lock
Due: none

feat: support for query params in dsn
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
Due: none

tests: support for query params in dsn
  packages/cache-dsn-parser/src/__tests__/cache-dsn-parser.test.ts
Due: none

chore: added changeset
  .changeset/khaki-weeks-collect.md
Due: none

feat: error through discriminated unions
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
Due: none

tests: error as discriminated unions
  packages/cache-dsn-parser/src/__tests__/cache-dsn-parser.test.ts
Due: none

refactor: extract types
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
  packages/cache-dsn-parser/src/cache-dsn-parser.types.ts
Due: none

refactor(typings): generation of d.ts
  packages/cache-dsn-parser/tsconfig.build.json
  packages/cache-dsn-parser/tsconfig.json
  packages/cache-interop/tsconfig.build.json
  packages/cache-interop/tsconfig.json
  packages/cache-ioredis/tsconfig.build.json
  packages/cache-redis/tsconfig.build.json
  tsconfig.base.json
Due: cacheInterop, cacheIORedis, cacheRedis

fix: export only public types in .d.ts
  packages/cache-dsn-parser/src/index.ts
Due: none

chore: latest lock
  yarn.lock
Due: none

feat: import types
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
Due: none
