Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cache_dsn_parser_unit, cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

tests: added overrides checks
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
Due: none

refactor: cleanup unused internal options
  packages/dsn-parser/src/dsn-parser.util.ts
Due: none

chore(ts): revert explicit tsconfig in paths
  packages/cache-ioredis/tsconfig.json
Due: none

feat: improve dsn utils doc and tests
  packages/cache-ioredis/src/__tests__/ioredis-dsn.util.test.ts
  packages/cache-ioredis/src/ioredis-dsn.util.ts
Due: cache_io_redis_unit, e2e

feat: add ConnectionInterface
  packages/cache-interop/src/connection/connection.interface.ts
  packages/cache-interop/src/connection/null-connection.ts
Due: cache_interop_unit, e2e

feat: export ConnectionInterface and narrow type exports
  packages/cache-interop/src/index.ts
Due: cache_interop_unit, e2e

refactor!: use ConnectionInterface, remove getStorage
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
Due: cache_interop_unit, e2e

chore(ts): add references and paths to dsn-parser
  packages/cache-redis/tsconfig.json
Due: none

tests: fix jest config
  packages/cache-redis/jest.config.js
Due: none

refactor: cleanup obsolete tests
  packages/cache-redis/src/__tests__/redis-cache-adapter.test.ts
Due: cache_redis_unit, e2e

tests: cleanup osbsolete tests
  packages/cache-ioredis/src/__tests__/ioredis-cache-adapter.test.ts
Due: cache_io_redis_unit, e2e

refactor: all drivers refactored to ConnectionInterface
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/__tests__/ioredis-connection.factory.test.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-connection.factory.ts
  packages/cache-ioredis/src/ioredis-connection.ts
  packages/cache-redis/src/__tests__/redis-connection.factory.test.ts
  packages/cache-redis/src/__tests__/redis-dsn.util.test.ts
  packages/cache-redis/src/redis-cache-adapter.ts
  packages/cache-redis/src/redis-connection.factory.ts
  packages/cache-redis/src/redis-connection.ts
  packages/cache-redis/src/redis-dsn.util.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

tests: refactor improved adapter constructor
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: none

chore: fix package paths and jest config
  packages/cache-e2e-tests/jest.config.js
  packages/cache-e2e-tests/package.json
  packages/cache-e2e-tests/tsconfig.json
  packages/cache-ioredis/tsconfig.jest.json
  packages/cache-redis/tsconfig.jest.json
Due: none

docs: add build badge
  README.md
Due: none

refactor: segregate ConnectedAdapterInterface
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-interop/src/connection/connected-adapter.interface.ts
  packages/cache-interop/src/connection/is-connected-adapter.ts
  packages/cache-interop/src/index.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

fix: invalid import
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cache_io_redis_unit, e2e

fix: invalid import
  .changeset/fifty-wasps-double.md
  .changeset/slimy-suns-happen.md
  .changeset/tender-birds-thank.md
Due: none

docs: add changeset
  .changeset/nervous-badgers-invite.md
Due: none

feat: add assertion for dsn-parser
  packages/dsn-parser/src/__tests__/parsable-dsn.assert.test.ts
  packages/dsn-parser/src/index.ts
  packages/dsn-parser/src/parsable-dsn.assert.ts
Due: none

feat: add assertion for dsn-parser
  packages/dsn-parser/src/dsn-parser.type.ts
Due: none

doc: mention assertion
  packages/dsn-parser/README.md
Due: none

docs: changeset for assertParsableDsn
  .changeset/serious-tables-return.md
Due: none

feat: export and improve connections
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-e2e-tests/test/redis/redis-connection.test.ts
  packages/cache-ioredis/src/__tests__/ioredis-cache-adapter.test.ts
  packages/cache-ioredis/src/__tests__/ioredis-connection.factory.test.ts
  packages/cache-ioredis/src/index.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-connection.factory.ts
  packages/cache-ioredis/src/ioredis-connection.ts
  packages/cache-redis/src/__tests__/redis-cache-adapter.test.ts
  packages/cache-redis/src/__tests__/redis-connection.factory.test.ts
  packages/cache-redis/src/index.ts
  packages/cache-redis/src/redis-cache-adapter.ts
  packages/cache-redis/src/redis-connection.factory.ts
  packages/cache-redis/src/redis-connection.ts
Due: cache_io_redis_unit, cache_redis_unit, e2e

feat: export and improve connections
  packages/cache-e2e-tests/test/ioredis/ioredis-connection.test.ts
Due: none

tests: fix connection test
  packages/cache-e2e-tests/test/redis/redis-connection.test.ts
Due: none

refactor: getWrappedConnection to getNativeConnection
  packages/cache-e2e-tests/test/ioredis/ioredis-connection.test.ts
  packages/cache-e2e-tests/test/redis/redis-connection.test.ts
  packages/cache-interop/src/connection/connection.interface.ts
  packages/cache-interop/src/connection/null-connection.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-connection.ts
  packages/cache-redis/src/redis-cache-adapter.ts
  packages/cache-redis/src/redis-connection.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

docs: updated usage
  README.md
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: none

docs: fixed CI badge
  README.md
Due: none

docs: remove explicit async in example
  README.md
Due: none

docs: line of codes badge
  .tokeignore
  README.md
Due: none

docs: line of codes badge
  .tokeignore
Due: none

docs: link to typescript code
  README.md
Due: none

chore: ignore markdown for loc service
  .tokeignore
Due: none

chore: ignore docs for loc service
  .tokeignore
Due: none

feat(cache-interface): added onError for has() method
  packages/cache-interop/src/cache.interface.ts
Due: cache_interop_unit, e2e

feat(exception): added InvalidCacheKeyException
  packages/cache-interop/src/exceptions/__tests__/invalid-cache-key-exception.test.ts
  packages/cache-interop/src/exceptions/index.ts
  packages/cache-interop/src/exceptions/invalid-cache-key-exception.ts
Due: cache_interop_unit, e2e

feat(guards): Initial guard namespace
  packages/cache-interop/src/validation/__tests__/guards.test.ts
  packages/cache-interop/src/validation/guards.ts
Due: cache_interop_unit, e2e

feat(assertions): initial Asserts namespace
  packages/cache-interop/src/validation/__tests__/asserts.test.ts
  packages/cache-interop/src/validation/asserts.ts
Due: cache_interop_unit, e2e

refactor!(cache-item): changed value to data and remove obsolete
  packages/cache-interop/src/__tests__/cache-item.test.ts
  packages/cache-interop/src/cache-item.interface.ts
  packages/cache-interop/src/cache-item.ts
Due: cache_interop_unit, e2e

Path conditions:
  cache_dsn_parser_unit: any of: packages/cache-dsn-parser/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_interop_unit: any of: packages/cache-interop/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_io_redis_unit: any of: packages/cache-ioredis/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_redis_unit: any of: packages/cache-redis/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  e2e: any of: packages/cache-ioredis/src, packages/cache-redis/src, packages/cache-interop/src, but not: scripts/**/*, docs/**/*, scripts/**/*
