Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, cacheInterop

fix: test alias
  packages/cache-ioredis/package.json
Due: none

add config base
  tsconfig.base.json
Due: none

try out new configuration
  packages/cache-interop/tsconfig.build.json
  packages/cache-ioredis/jest.config.js
  packages/cache-ioredis/tsconfig.build.json
  packages/cache-ioredis/tsconfig.jest.json
  packages/cache-ioredis/tsconfig.json
Due: cacheInterop

update testcontainers
  package.json
  yarn.lock
Due: none

refactor sources
  packages/cache-ioredis/src/__tests__/ioredis-cache-adapter.test.ts
  packages/cache-ioredis/src/adapter/index.ts
  packages/cache-ioredis/src/index.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: none

add missing node types
  package.json
  yarn.lock
Due: none

exit from pre-mode
  .changeset/pre.json
Due: none

fix jest module mapper
  packages/cache-ioredis/jest.config.js
  packages/cache-ioredis/tsconfig.jest.json
Due: none

Create hot-bananas-relax.md
  .changeset/hot-bananas-relax.md
Due: none

few fixes
  package.json
  packages/cache-e2e-tests/jest.config.js
  packages/cache-interop/jest.config.js
  packages/cache-ioredis/jest.config.js
  packages/cache-ioredis/package.json
  packages/cache-ioredis/tsconfig.jest.json
  packages/cache-ioredis/tsconfig.json
Due: e2e, cacheInterop

cleanup
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  tsconfig.base.json
Due: e2e, cacheInterop

e2e: add redis 5 & 6
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

e2e: more specs
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix: remove ioredis cache adapter
  packages/cache-interop/src/adapter/__tests__/ioredis-cache-adapter.test.ts
  packages/cache-interop/src/adapter/index.ts
  packages/cache-interop/src/adapter/ioredis-cache-adapter.ts
Due: cacheInterop

refactor: change setMultiple signature
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

feat: add default for setMultiple
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
Due: cacheInterop

refactor: use base adapter setMultiple
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop

e2e: add test for has and setMultiple
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

refactor: signature
  packages/cache-interop/src/cache-item.interface.ts
  packages/cache-interop/src/cache-item.ts
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

refactor: api signature
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop

add cache provider exception
  packages/cache-interop/src/exceptions/cache-provider.exception.ts
  packages/cache-interop/src/exceptions/index.ts
Due: cacheInterop

updated tests
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

throw CacheProviderException
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop

e2e: updated test suite
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

updated lock file
  yarn.lock
Due: none

remove TrueOrCacheException
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop

fix invalid monorepo import
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: none

expose previousError
  packages/cache-interop/src/exceptions/cache.exception.ts
Due: cacheInterop

Create sweet-elephants-double.md
  .changeset/sweet-elephants-double.md
Due: none

Create pretty-parrots-beam.md
  .changeset/pretty-parrots-beam.md
Due: none

Create pretty-parrots-little.md
  .changeset/pretty-parrots-little.md
Due: none

docs: readme update
  packages/cache-interop/README.md
  packages/cache-ioredis/README.md
Due: cacheInterop

docs: update homepage
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
Due: cacheInterop

refactor: api for delte and deleteMultiple
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

implement delete and refactor
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop

add default for deleteMultiple and getMultiple
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
Due: cacheInterop

e2e: delete, deleteMultiple, has
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix: typing for getMultiple
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
Due: cacheInterop

Create neat-dingos-rule.md
  .changeset/neat-dingos-rule.md
Due: none

Create neat-dingos-small.md
  .changeset/neat-dingos-small.md
Due: none

Path conditions:
  e2e: any of: packages/cache-e2e-tests, but not: scripts/**/*, docs/**/*
  cacheInterop: any of: packages/cache-interop, but not: scripts/**/*, docs/**/*
