Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cache_dsn_parser_unit, cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

fix: InvalidCacheKeyException message and key
  packages/cache-interop/src/adapter/map-cache-adapter.ts
Due: cache_interop_unit, e2e

fix: return errors with uniform messages
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cache_io_redis_unit, e2e

tests(e2e): test for uniform errors
  packages/cache-e2e-tests/test/all-adapters-error.test.ts
Due: none

docs(changeset): uniform errors support
  .changeset/sharp-rocks-explode.md
Due: none

refactor(error): add error-helper in abstract adapter
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/error/__tests__/error-formatter.test.ts
  packages/cache-interop/src/error/error-formatter.ts
  packages/cache-interop/src/error/error-helper.ts
  packages/cache-interop/src/error/error.constants.ts
  packages/cache-interop/src/index.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, e2e

feat: added unexpected error to constants
  packages/cache-interop/src/error/error-helper.ts
  packages/cache-interop/src/error/error.constants.ts
Due: cache_interop_unit, e2e

refactor: add adapterName
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_redis_unit, e2e

fix: cache provider exception
  packages/cache-interop/src/error/error-helper.ts
Due: cache_interop_unit, e2e

refactor: restrict redis value to string
  packages/cache-interop/src/validation/guards.ts
Due: cache_interop_unit, e2e

feat: uniform errors + promisify
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_redis_unit, e2e

fix: missing uniform error message
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cache_io_redis_unit, e2e

refactor: extract redis promisified client
  packages/cache-redis/src/redis-async.util.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_redis_unit, e2e

refactor(exception): rename previousError into previous
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/error/error-helper.ts
  packages/cache-interop/src/exceptions/cache.exception.ts
  packages/cache-interop/src/exceptions/invalid-cache-key-exception.ts
Due: cache_interop_unit, e2e

feat(error): accept key in formatter
  packages/cache-interop/src/error/__tests__/error-formatter.test.ts
  packages/cache-interop/src/error/error-formatter.ts
Due: cache_interop_unit, e2e

feat(error): accept key in formatter
  .changeset/sharp-rocks-explode.md
Due: none

docs: changeset
  .changeset/hip-moose-arrive.md
Due: none

refactor: class properties
  packages/cache-ioredis/src/ioredis-connection.ts
Due: cache_io_redis_unit, e2e

feat: add get in redis-async
  packages/cache-redis/src/redis-async.util.ts
Due: cache_redis_unit, e2e

feat: error add support for method with cache key
  packages/cache-interop/src/error/error-formatter.ts
  packages/cache-interop/src/error/error-helper.ts
Due: cache_interop_unit, e2e

refactor: promisify redis-connection
  packages/cache-redis/src/redis-connection.ts
Due: cache_redis_unit, e2e

test(e2e): add node-redis to matrix
  packages/cache-e2e-tests/test/all-adapters-error.test.ts
Due: none

feat: improve getOrSet error message
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
Due: cache_interop_unit, e2e

feat: binding getConnection
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_io_redis_unit, cache_redis_unit, e2e

fix: redis tests / disable offline queue
  packages/cache-e2e-tests/test/all-adapters-error.test.ts
Due: none

refactor: remove unnecessary await
  packages/cache-redis/src/redis-connection.ts
Due: cache_redis_unit, e2e

refactor: cleanup comments
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_redis_unit, e2e

refactor: adapter get method
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_io_redis_unit, cache_redis_unit, e2e

add settings.json
  .gitignore
Due: none

feat: allow to pass redic client options
  packages/cache-redis/README.md
  packages/cache-redis/src/__tests__/redis-dsn.util.test.ts
  packages/cache-redis/src/redis-dsn.util.ts
Due: cache_redis_unit, e2e

docs: updated connection example
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: none

refactor: add client options
  packages/cache-ioredis/src/__tests__/ioredis-dsn.util.test.ts
  packages/cache-ioredis/src/ioredis-dsn.util.ts
Due: cache_io_redis_unit, e2e

refactor: prevent accidental passing of url
  packages/cache-redis/src/redis-dsn.util.ts
Due: cache_redis_unit, e2e

chore(dev-deps): latest deps update
  package.json
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
  packages/dsn-parser/package.json
  yarn.lock
Due: none

feat: docker image tag for testcontainers v7
  packages/cache-e2e-tests/config/docker-container.config.ts
Due: none

chore(dev-deps): updated testcontainers
  package.json
  yarn.lock
Due: none

refator: remove unused import
  packages/cache-ioredis/src/ioredis-dsn.util.ts
Due: cache_io_redis_unit, e2e

refactor!: rename EXECUTE_ASYNC_ERROR into VALUE_PROVIDER_ERROR
  packages/cache-interop/src/error/error-helper.ts
  packages/cache-interop/src/error/error.constants.ts
Due: cache_interop_unit, e2e

feat: error with key
  .changeset/fresh-timers-dance.md
  .changeset/sharp-dancers-press.md
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-e2e-tests/test/all-adapters-error.test.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

chore(dev-deps): husky to v5
  .husky/.gitignore
  .husky/pre-commit
Due: none

chore(dev-deps): update to latest
  package.json
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
  packages/dsn-parser/package.json
  yarn.lock
Due: none

Path conditions:
  cache_dsn_parser_unit: any of: packages/cache-dsn-parser/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_interop_unit: any of: packages/cache-interop/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_io_redis_unit: any of: packages/cache-ioredis/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_redis_unit: any of: packages/cache-redis/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  e2e: any of: packages/cache-ioredis/src, packages/cache-redis/src, packages/cache-interop/src, but not: scripts/**/*, docs/**/*, scripts/**/*
