Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cache_dsn_parser_unit, cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

feat(factory): added convenience cache-item factories
  packages/cache-interop/src/__tests__/cache-item.factory.test.ts
  packages/cache-interop/src/cache-item.factory.ts
Due: cache_interop_unit, e2e

feat: add new exports
  packages/cache-interop/src/index.ts
Due: cache_interop_unit, e2e

refactor!(adapters): refactored to new cacheItem interface
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

tests(unit): added mini suite for invalid cache keys
  packages/cache-interop/src/adapter/__tests__/map-cache-adapter.test.ts
Due: cache_interop_unit, e2e

test(e2e): refactor to new refactors
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: none

refactor!: error as undefined rather than false
  packages/cache-interop/src/__tests__/cache-item.factory.test.ts
  packages/cache-interop/src/__tests__/cache-item.test.ts
Due: cache_interop_unit, e2e

refactor!: error as undefined rather than false
  packages/cache-interop/src/cache-item.interface.ts
  packages/cache-interop/src/cache-item.ts
Due: cache_interop_unit, e2e

fix(map-adapter): invalid isHit returned
  packages/cache-interop/src/adapter/map-cache-adapter.ts
Due: cache_interop_unit, e2e

tests(e2e): refactor for new api
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: none

refactor: remove obsolete test utils
  packages/cache-interop/test/utils/constant-date-provider.ts
  packages/cache-interop/test/utils/dayjs-utc.ts
Due: none

docs: mention node-testcontainers
  packages/cache-e2e-tests/README.md
Due: none

docs: improve contributors doc
  CONTRIBUTING.md
  packages/cache-e2e-tests/README.md
Due: none

docs: fix invalid usage
  packages/cache-redis/README.md
Due: none

docs: update badge
  packages/cache-interop/README.md
Due: none

chore(deps): added moq.ts
  package.json
  yarn.lock
Due: none

feat: add isConnectedCache guard
  packages/cache-interop/src/validation/__tests__/guards.test.ts
  packages/cache-interop/src/validation/guards.ts
Due: cache_interop_unit, e2e

refactor: use ConnectedCacheInterface and associated guard
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-interop/src/connection/connected-cache.interface.ts
  packages/cache-interop/src/connection/is-connected-adapter.ts
  packages/cache-interop/src/index.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

docs: updated to new cacheitem data payload
  README.md
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: none

docs: updated about section
  packages/dsn-parser/README.md
Due: none

docs: updated usage
  README.md
  packages/cache-interop/README.md
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: none

feat: native-json-serializer
  packages/cache-interop/src/serializer/__tests__/native-json-serializer.test.ts
  packages/cache-interop/src/serializer/native-json-serializer.ts
Due: cache_interop_unit, e2e

refactor: remove nullconnection
  packages/cache-interop/src/connection/null-connection.ts
  packages/cache-interop/src/index.ts
Due: cache_interop_unit, e2e

fix: has returns undefined if error
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

tests(e2e): testing has for undefined and onError
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: none

docs: do not throw anymore for InvalidArgument
  packages/cache-interop/src/cache.interface.ts
Due: cache_interop_unit, e2e

docs: changesets added
  .changeset/honest-beds-exist.md
  .changeset/itchy-onions-itch.md
  .changeset/lazy-rocks-sing.md
  .changeset/perfect-pens-destroy.md
  .changeset/rich-trains-run.md
Due: none

refactor: use optional chaining
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

refactor: cleanup TrueOrFalseOrUndefined
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

fix(ts): fixing export of type definition
  packages/cache-interop/src/index.ts
Due: cache_interop_unit, e2e

chore(lock): updated lock file
  yarn.lock
Due: none

docs: changeset
  .changeset/tiny-mirrors-help.md
Due: none

refactor: export typeguards in guards
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/index.ts
  packages/cache-interop/src/utils/__tests__/typeguards.test.ts
  packages/cache-interop/src/utils/typeguards.ts
  packages/cache-interop/src/validation/__tests__/guards.test.ts
  packages/cache-interop/src/validation/guards.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cache_interop_unit, cache_io_redis_unit, cache_redis_unit, e2e

docs: mention new guards
  packages/cache-interop/README.md
Due: none

fix: isPromieLike
  packages/cache-interop/src/utils/typeguards.ts
Due: cache_interop_unit, e2e

feat(guard): added isCacheException
  packages/cache-interop/src/validation/__tests__/guards.test.ts
  packages/cache-interop/src/validation/guards.ts
Due: cache_interop_unit, e2e

feat(exception): add UnsupportedValueException
  packages/cache-interop/src/exceptions/unsupported-value.exception.ts
Due: cache_interop_unit, e2e

fix: doc spelling
  packages/cache-redis/src/redis-dsn.util.ts
Due: cache_redis_unit, e2e

feat: updated exports
  packages/cache-interop/src/exceptions/index.ts
  packages/cache-interop/src/index.ts
Due: cache_interop_unit, e2e

feat(errors): uniform errors and formatter
  packages/cache-interop/src/error/__tests__/error-formatter.test.ts
  packages/cache-interop/src/error/error-formatter.ts
  packages/cache-interop/src/error/error.constants.ts
Due: cache_interop_unit, e2e

fix: return error on connection failure
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
Due: cache_interop_unit, e2e

Path conditions:
  cache_dsn_parser_unit: any of: packages/cache-dsn-parser/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_interop_unit: any of: packages/cache-interop/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_io_redis_unit: any of: packages/cache-ioredis/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  cache_redis_unit: any of: packages/cache-redis/src, but not: scripts/**/*, docs/**/*, scripts/**/*
  e2e: any of: packages/cache-ioredis/src, packages/cache-redis/src, packages/cache-interop/src, but not: scripts/**/*, docs/**/*, scripts/**/*
