Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cacheInterop, cacheIORedis, cacheRedis, e2e

docs: fix naming
  README.md
Due: none

docs: ref to cache-redis
  README.md
Due: none

chore(deps): typescript 4.1
  package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
  yarn.lock
Due: cacheInterop, cacheIORedis, cacheRedis

chore(deps): deduplicate
  yarn.lock
Due: none

fix: memorycache has expiry checks
  .changeset/three-deers-help.md
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-interop/package.json
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/eviction/__tests__/expires-at-policy.test.ts
  packages/cache-interop/src/eviction/eviction-policy.interface.ts
  packages/cache-interop/src/eviction/expires-at-policy.ts
  packages/cache-interop/src/expiry/__tests__/cache-expiry.test.ts
  packages/cache-interop/src/expiry/__tests__/es-date-provider.test.ts
  packages/cache-interop/src/expiry/cache-expiry.ts
  packages/cache-interop/src/expiry/date-provider.interface.ts
  packages/cache-interop/src/expiry/es-date-provider.ts
  packages/cache-interop/src/utils/__tests__/typeguards.test.ts
  packages/cache-interop/src/utils/typeguards.ts
  packages/cache-interop/test/utils/dayjs-utc.ts
  yarn.lock
Due: cacheInterop, e2e

remove utc date support
  packages/cache-interop/src/expiry/__tests__/es-date-provider.test.ts
  packages/cache-interop/src/expiry/date-provider.interface.ts
  packages/cache-interop/src/expiry/es-date-provider.ts
Due: cacheInterop

rename repo tci into cache-interop
  package.json
  packages/cache-e2e-tests/CHANGELOG.md
  packages/cache-interop/CHANGELOG.md
  packages/cache-interop/README.md
  packages/cache-interop/package.json
  packages/cache-ioredis/CHANGELOG.md
  packages/cache-ioredis/README.md
  packages/cache-ioredis/package.json
  packages/cache-redis/CHANGELOG.md
  packages/cache-redis/README.md
  packages/cache-redis/package.json
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

rename repo tci into cache-interop
  .changeset/config.json
  CHANGELOG.md
  README.md
  packages/cache-e2e-tests/package.json
  packages/cache-interop/README.md
  packages/cache-interop/package.json
  packages/cache-ioredis/README.md
  packages/cache-ioredis/package.json
  packages/cache-redis/README.md
  packages/cache-redis/package.json
  yarn.lock
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

chore(dev-deps): ncu installed and deps update
  package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
  yarn.lock
Due: cacheInterop, cacheIORedis, cacheRedis

docs: update contributing docs
  CONTRIBUTING.md
Due: none

chore(lock): deduplicate
  yarn.lock
Due: none

ci: add nodejs 15
  .github/workflows/ci.yml
Due: none

chore(scripts): add deduplicate to reinstall script
  package.json
Due: none

chore(dev-deps): updated babel in lock
  yarn.lock
Due: none

refactor!: cache.get now uses options + added disableCache in all methods
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

feat: added disableCache in all methods
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
Due: cacheInterop

feat: add internal utils for setting default options
  packages/cache-interop/src/utils/__tests__/cache-options-utils.test.ts
  packages/cache-interop/src/utils/cache-options-utils.ts
Due: cacheInterop

refactor!: cache.get signature change for defaultValue and disableCache
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cacheInterop, cacheIORedis, cacheRedis

tests: added disableCache and updated defaultValue
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

Update changesets
  .changeset/early-pumas-juggle.md
  .changeset/lazy-insects-double.md
  .changeset/perfect-hotels-hunt.md
  .changeset/rude-fishes-grow.md
  .changeset/thirty-ligers-explode.md
Due: none

feat: CacheInterface.get now honours disableCache option
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cacheInterop, cacheIORedis, cacheRedis

tests: added e2e for CacheInterface.get with disableCache
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix: invalid import breaking the build
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cacheRedis

tests: added disableCache specs to setMultiple
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

tests(e2e): add Cache.getMultiple() ttl expiration
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

feat: initial disableCache in CacheInterface.getOrSet()
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cacheInterop, cacheIORedis, cacheRedis

refactor!: definition of hit
  packages/cache-interop/src/cache-item.ts
Due: cacheInterop

tests: initial CacheItem tests
  packages/cache-interop/src/__tests__/cache-item.test.ts
Due: cacheInterop

tests: initial Cache.getOrSet specs with disableCache
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

changet added
  .changeset/thin-actors-jam.md
Due: none

chore(dev-deps): latest stable deps + jest types
  package.json
  packages/cache-interop/package.json
  yarn.lock
Due: cacheInterop

tests: adapt strictEqual to recent generic support
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

feat: support disableCache in Adapter.has
  README.md
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

feat: add disableCache to delete methods
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

add changeset
  .changeset/giant-zebras-thank.md
  .changeset/six-teachers-trade.md
Due: none

tests: disable test for hit till api is stable
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix: optional disable cache
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

changeset
  .changeset/violet-mails-pump.md
Due: none

chore(dev-deps): test-containers
  package.json
  yarn.lock
Due: none

chore(dev-deps): typescript update
  package.json
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
  yarn.lock
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

Path conditions:
  cacheInterop: any of: packages/cache-interop, but not: scripts/**/*, docs/**/*, scripts/**/*
  cacheIORedis: any of: packages/cache-ioredis, but not: scripts/**/*, docs/**/*, scripts/**/*
  cacheRedis: any of: packages/cache-redis, but not: scripts/**/*, docs/**/*, scripts/**/*
  e2e: any of: packages/cache-e2e-tests, but not: scripts/**/*, docs/**/*, scripts/**/*
