Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: e2e, cacheInterop

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default: off
      cacheInterop:
        target: 1%
        flags:
          - cacheInterop
flags:
  e2e:
    paths:
      - packages/cache-e2e-tests
  cacheInterop:
    paths:
      - packages/cache-interop

ignore:
  - "scripts/**/*"
  - "docs/**/*"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

fix: coverage publish
  .codecov.yml
  .github/workflows/ci.yml
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
Due: e2e, cacheInterop

fix: node env
  packages/cache-interop/jest.config.js
Due: cacheInterop

docs: link to coverage
  README.md
Due: none

fix: package name
  packages/cache-e2e-tests/package.json
Due: e2e

fix: jest config
  packages/cache-interop/jest.config.js
Due: cacheInterop

docs: fix readme logos
  packages/cache-interop/README.md
Due: cacheInterop

optional coverage
  .github/workflows/ci.yml
  package.json
  packages/cache-e2e-tests/package.json
  packages/cache-interop/package.json
Due: e2e, cacheInterop

deps update
  package.json
  yarn.lock
Due: none

removed obsolete publish action
  .github/workflows/release-backup.yml
Due: none

updated and deduplicated
  package.json
  yarn.lock
Due: none

add check for duplicates
  .github/workflows/ci.yml
Due: none

add jest-circus and testcontainers
  package.json
  yarn.lock
Due: none

add getStorage
  packages/cache-interop/src/adapter/__tests__/ioredis-cache-adapter.test.ts
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/ioredis-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

add jest-circus and increase timeout for e2e
  packages/cache-e2e-tests/jest.config.js
  packages/cache-e2e-tests/jest.setup.js
Due: e2e

add e2e for IoRedis with testcontainers
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix yarn deduplicate checks
  .github/workflows/ci.yml
Due: none

move to redis 5-alpine
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix contracts
  packages/cache-interop/src/adapter/ioredis-cache-adapter.ts
Due: cacheInterop

Create gold-suits-tan.md
  .changeset/gold-suits-tan.md
Due: none

Create lucky-eyes-peel.md
  .changeset/lucky-eyes-peel.md
Due: none

Update gold-suits-tan.md
  .changeset/gold-suits-tan.md
Due: none

ci: do not run on changesets
  .github/workflows/ci.yml
Due: none

fix changeset release
  package.json
Due: none

Create rotten-dogs-return.md
  .changeset/rotten-dogs-return.md
Due: none

independent cache-ioredis package
  packages/cache-interop/tsconfig.build.json
  packages/cache-ioredis/.eslintignore
  packages/cache-ioredis/.gitignore
  packages/cache-ioredis/LICENSE
  packages/cache-ioredis/README.md
  packages/cache-ioredis/jest.config.js
  packages/cache-ioredis/package.json
  packages/cache-ioredis/src/adapter/__tests__/ioredis-cache-adapter.test.ts
  packages/cache-ioredis/src/adapter/index.ts
  packages/cache-ioredis/src/adapter/ioredis-cache-adapter.ts
  packages/cache-ioredis/src/index.ts
  packages/cache-ioredis/tsconfig.build.json
  packages/cache-ioredis/tsconfig.jest.json
  packages/cache-ioredis/tsconfig.json
Due: cacheInterop

initial cache-ioredis changelog
  packages/cache-ioredis/CHANGELOG.md
Due: none

add codecov cache ioredis flag
  .codecov.yml
Due: none

add buil test in the ci
  .github/workflows/ci.yml
Due: none

add package ioredis to e2e
  packages/cache-e2e-tests/jest.config.js
Due: e2e

fix: export CacheItemInterface
  packages/cache-interop/src/index.ts
Due: cacheInterop

e2e on cache-ioredis package
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

remove composite from definition
  tsconfig.json
Due: none

fix alias script
  packages/cache-e2e-tests/package.json
Due: e2e

cleanup
  packages/cache-e2e-tests/jest.config.js
Due: e2e

remove tsconfig.build.json
  packages/cache-interop/tsconfig.build.json
  tsconfig.build.json
Due: cacheInterop

fix script
  packages/cache-interop/package.json
Due: cacheInterop

submodule aliases
  packages/cache-e2e-tests/tsconfig.json
Due: e2e

fix publication of types
  packages/cache-interop/package.json
  packages/cache-interop/tsconfig.build.json
  packages/cache-interop/tsconfig.json
Due: cacheInterop

add base
  tsconfig.json
Due: none
