Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cacheInterop, cacheIORedis, e2e

.codecov.yml:

coverage:
  status:
    patch: off
    project:
      default: off
      cacheInterop:
        target: 1%
        flags:
          - cacheInterop
      cacheIORedis:
        target: 1%
        flags:
          - cacheIORedis

flags:
  cacheInterop:
    paths:
      - packages/cache-interop
  cacheIORedis:
    paths:
      - packages/cache-ioredis
  e2e:
    paths:
      - packages/cache-e2e-tests

ignore:
  - "scripts/**/*"
  - "docs/**/*"
  - "scripts/**/*"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no

e2e: more tests for setMultiple
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix: error when returning error
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheIORedis

remove unused imports
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheIORedis

e2e: full tests for getMultiple
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

simplify has method
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheIORedis

hoist typescript, ts-jest at package level
  package.json
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
Due: cacheInterop, cacheIORedis

force esnext
  packages/cache-interop/tsconfig.build.json
  packages/cache-ioredis/tsconfig.build.json
Due: cacheInterop, cacheIORedis

refactor!: delete and deleteMultiple return types
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop, cacheIORedis

e2e: update tests for delete and deleteMultiple
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

add changet
  .changeset/neat-bugs-stare.md
  .changeset/witty-cups-push.md
Due: none

docs: wip
  README.md
Due: none

chore: deps update
  package.json
  packages/cache-e2e-tests/package.json
  packages/cache-ioredis/package.json
  yarn.lock
Due: cacheIORedis, e2e

adding changesets
  .changeset/early-waves-peel.md
  .changeset/swift-sheep-sell.md
  .changeset/unlucky-ties-joke.md
Due: none

feat: add unexpected-error.exception
  packages/cache-interop/src/exceptions/index.ts
  packages/cache-interop/src/exceptions/unexpected-error.exception.ts
Due: cacheInterop

test: scenario for cache.clear
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

refactor get and clear methods
  packages/cache-interop/src/adapter/abstract-cache-adapter.ts
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/cache.interface.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop, cacheIORedis

deduplicate
  yarn.lock
Due: none

fix: invalid import
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheIORedis

docs: changelog mention
  CHANGELOG.md
Due: none

docs: added changelog
  CHANGELOG.md
Due: none

docs: mini doc update
  README.md
Due: none

docs: small example
  README.md
Due: none

updated doc
  README.md
Due: none

credits
  README.md
Due: none

docs: links to api spec and e2e
  README.md
Due: none

docs: mention errors
  README.md
Due: none

docs: added roadmap
  README.md
Due: none

Update cache.interface.ts
  packages/cache-interop/src/cache.interface.ts
Due: cacheInterop

changesets to minor
  .changeset/early-waves-peel.md
  .changeset/unlucky-ties-joke.md
Due: none

test: add suite for ttl checks
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

feat: support for ttl expiration
  .changeset/brave-chairs-visit.md
  packages/cache-interop/src/adapter/map-cache-adapter.ts
  packages/cache-interop/src/eviction/eviction-policy.interface.ts
  packages/cache-interop/src/eviction/expires-at-policy.ts
  packages/cache-interop/src/eviction/index.ts
  packages/cache-interop/src/expiry/cache-expiry.ts
  packages/cache-interop/src/expiry/date-provider.interface.ts
  packages/cache-interop/src/expiry/es-date-provider.ts
  packages/cache-interop/src/index.ts
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheInterop, cacheIORedis

relax sonar complexity
  .eslintrc.json
Due: none

fix: typing error
  packages/cache-ioredis/src/ioredis-cache-adapter.ts
Due: cacheIORedis

feat: new node-redis adapter
  packages/cache-e2e-tests/jest.config.js
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-e2e-tests/tsconfig.json
  packages/cache-redis/.eslintignore
  packages/cache-redis/.gitignore
  packages/cache-redis/CHANGELOG.md
  packages/cache-redis/LICENSE
  packages/cache-redis/README.md
  packages/cache-redis/jest.config.js
  packages/cache-redis/package.json
  packages/cache-redis/src/__tests__/redis-cache-adapter.test.ts
  packages/cache-redis/src/index.ts
  packages/cache-redis/src/redis-cache-adapter.ts
  packages/cache-redis/tsconfig.build.json
  packages/cache-redis/tsconfig.jest.json
  packages/cache-redis/tsconfig.json
  tsconfig.json
  yarn.lock
Due: e2e

feat new node redis adapter
  .changeset/modern-buses-tickle.md
Due: none

add codecov flag
  .codecov.yml
Due: none

fix tests
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
Due: e2e

fix e2e
  packages/cache-e2e-tests/test/all-adapters-base.test.ts
  packages/cache-redis/src/redis-cache-adapter.ts
Due: e2e

docs: mention new cache-redis package
  CHANGELOG.md
  README.md
Due: none
