Repository soluble-io/cache-interop: changes, and which Codecov flags are due for each by the changed paths.
All: cacheInterop, cacheIORedis, cacheRedis, e2e

refactor: extract parser method
  packages/cache-dsn-parser/src/cache-dsn-parser.ts
Due: none

docs: updated usage
  packages/cache-dsn-parser/README.md
Due: none

docs: updated badges
  README.md
Due: none

docs: new badges
  packages/cache-dsn-parser/README.md
Due: none

ci(codecov): refactor flag names
  .codecov.yml
  .github/workflows/ci.yml
Due: none

docs: readme update
  packages/cache-dsn-parser/README.md
Due: none

refactor!: change package name
  .changeset/khaki-weeks-collect.md
  .codecov.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  packages/cache-dsn-parser/CHANGELOG.md
  packages/cache-dsn-parser/src/index.ts
  packages/dsn-parser/.eslintignore
  packages/dsn-parser/.gitignore
  packages/dsn-parser/CHANGELOG.md
  packages/dsn-parser/LICENSE
  packages/dsn-parser/README.md
  packages/dsn-parser/jest.config.js
  packages/dsn-parser/package.json
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
  packages/dsn-parser/src/dsn-parser.ts
  packages/dsn-parser/src/dsn-parser.types.ts
  packages/dsn-parser/src/index.ts
  packages/dsn-parser/tsconfig.build.json
  packages/dsn-parser/tsconfig.jest.json
  packages/dsn-parser/tsconfig.json
  tsconfig.json
Due: none

fix: correctly export ParsedDsn
  packages/dsn-parser/src/index.ts
Due: none

chore(dev-deps): latest types
  packages/cache-e2e-tests/package.json
  packages/cache-ioredis/package.json
Due: cacheIORedis, e2e

chore: fix yarn workspaces
  package.json
Due: none

chore: regenerate yarn.lock
  yarn.lock
Due: none

chore: delete changeset
  .changeset/khaki-weeks-collect.md
Due: none

chore(deps): remove query-parser dependency
  packages/dsn-parser/package.json
  yarn.lock
Due: none

feat: add basic query-string parser
  packages/dsn-parser/src/__tests__/query-param-parser.test.ts
  packages/dsn-parser/src/query-param-parser.ts
Due: none

feat: remove query-string, const drivers and add port testing
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
  packages/dsn-parser/src/__tests__/dsn-parser.util.test.ts
  packages/dsn-parser/src/dsn-parser.ts
  packages/dsn-parser/src/dsn-parser.type.ts
  packages/dsn-parser/src/dsn-parser.util.ts
Due: none

chore: add compress option to microbundle
  packages/dsn-parser/package.json
Due: none

refactor: rename httpPort to networkPort
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
  packages/dsn-parser/src/__tests__/dsn-parser.util.test.ts
  packages/dsn-parser/src/dsn-parser.ts
  packages/dsn-parser/src/dsn-parser.util.ts
Due: none

docs: improved usage
  packages/dsn-parser/README.md
Due: none

docs: add typings badge
  packages/dsn-parser/README.md
Due: none

chore: release v1 in changeset
  .changeset/tiny-chicken-decide.md
Due: none

docs: mention node and browser support
  packages/dsn-parser/README.md
Due: none

chore: compress dist with terser
  packages/cache-interop/package.json
  packages/cache-ioredis/package.json
  packages/cache-redis/package.json
  yarn.lock
Due: cacheInterop, cacheIORedis, cacheRedis

docs: add changeset
  .changeset/fast-wombats-sneeze.md
Due: none

docs: uniformize readme's
  README.md
  packages/cache-e2e-tests/README.md
  packages/cache-interop/README.md
  packages/cache-ioredis/README.md
  packages/cache-redis/README.md
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

feat: add overrides options
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
  packages/dsn-parser/src/__tests__/dsn-parser.util.test.ts
  packages/dsn-parser/src/dsn-parser.ts
  packages/dsn-parser/src/dsn-parser.util.ts
Due: none

docs: add overrides option documentation
  packages/dsn-parser/README.md
Due: none

docs: add changeset
  .changeset/swift-donuts-end.md
Due: none

fix: missing type export for ParseDsnOptions
  packages/dsn-parser/src/index.ts
Due: none

docs: changeset
  .changeset/nasty-cycles-grin.md
Due: none

fix: possible runtime if overrides option is undefined
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
  packages/dsn-parser/src/dsn-parser.ts
Due: none

docs: changeset
  .changeset/hip-pans-peel.md
Due: none

feat: allow extra chars for database field
  packages/dsn-parser/src/__tests__/dsn-parser.test.ts
  packages/dsn-parser/src/dsn-parser.ts
Due: none

docs: changeset
  .changeset/real-lobsters-listen.md
Due: none

chore: exclude index.ts from coverage
  .codecov.yml
Due: none

chore: ignore coverage for index.ts barrels
  .codecov.yml
  packages/cache-e2e-tests/jest.config.js
  packages/cache-interop/jest.config.js
  packages/cache-ioredis/jest.config.js
  packages/cache-redis/jest.config.js
  packages/dsn-parser/jest.config.js
Due: cacheInterop, cacheIORedis, cacheRedis, e2e

chore(deps): add soluble/parse-dsn as dependency
  packages/cache-ioredis/package.json
Due: cacheIORedis

chore(ts): add path and references to soluble/dsn-parser
  packages/cache-ioredis/tsconfig.json
Due: cacheIORedis

feat: add util for converting dsn to ioredis.RedisOptions
  packages/cache-ioredis/src/__tests__/ioredis-dsn.util.test.ts
  packages/cache-ioredis/src/ioredis-dsn.util.ts
Due: cacheIORedis

fix: missing radix in parseInt
  packages/cache-ioredis/src/ioredis-dsn.util.ts
Due: cacheIORedis

Path conditions:
  cacheInterop: any of: packages/cache-interop, but not: scripts/**/*, docs/**/*, scripts/**/*
  cacheIORedis: any of: packages/cache-ioredis, but not: scripts/**/*, docs/**/*, scripts/**/*
  cacheRedis: any of: packages/cache-redis, but not: scripts/**/*, docs/**/*, scripts/**/*
  e2e: any of: packages/cache-e2e-tests, but not: scripts/**/*, docs/**/*, scripts/**/*
